.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 30px;
}

.App-header {
  background-color: #222;
  /*height: 150px;*/
  padding: 10px;
  color: white;
}
.App-header > h2{
  margin: 0;
}
.App-intro {
  /*font-size: large;*/
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.loader {
    margin: 100px auto;
    border: 16px solid #FAFAFA; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
i.contact-icon{
  font-size: 95px;
  color:lightblue;
  background-color: #fff;
  padding: 0 20px;
  border: 2px solid lightblue;
}
.find{
  display: flex;
  justify-content: center;
}
input[type='text']{
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  border: 1px solid #C7C7C7;
  box-shadow: 0 10px 6px -6px #E6E6E6;
  font-size: 17px;
}
table.contactlist{
  padding: 20px;
  text-align: left;
  margin: 0 auto;
}
table.contactlist  td {
  vertical-align: top
}
table.contactlist td,th{
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.main{
  padding: 70px 20px;
}
.contact h3{
  margin: 0;
}
.flex-container{
  display: flex;
}
.flex-container > *{
  margin-right: 7px;
}
.contact{
   background-color: #fff;
   line-height: 25px;
   margin: 0 auto;
   padding: 20px;
   text-align: left;
   box-shadow: 0 10px 6px -6px #777;
   min-height: 100px;
   /*width: 50%;*/
   margin-bottom: 20px;
}
.contact div+div{
  margin-right: 5px;
  width: 200px
}
.text-field-wrapper{
  padding: 10px;
}
.text-field{
  display: table-row;
  height: 40px;
}
.text-field > label{
  margin-right: 15px;
  display: table-cell;
}
.text-field > label:after{
  content:':'
}
.text-field span,
.text-field input{
  display: table-cell;
  margin-left: 20px;
}
.text-field input{
  margin-right: 10px;
}
.sort-group{
  display: flex;
  margin-left: 20px;
}
.sort-group span{
  margin-right: 10px;
  line-height: 30px;
}
.download > i{
  margin-right: 10px;
  font-size: 30px;
  color: #aaa;
}
.sort-group > i{
  font-size: 26px;
  color: #ddd;
}
.sort-group > i.selected{
  color: #aaa;
}
.error-text{
  color:tomato;
  font-size:12px;
  margin-left:10px;
}
.button{
  border:none;
  background-color: #ddd;
}
.hidden-info{
  padding-left: 20px;
}
.hidden-info > div{
  margin-top: 10px;
}
